clientOfServ/src/conf/xml-resources/web-service-references/GetInformationByZIPImplService/wsdl/localhost_8080/WebApplication6/GetInformationByZIPImplService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://interfaces/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://interfaces/" name="GetInformationByZIPImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://interfaces/" schemaLocation="http://localhost:8080/WebApplication6/GetInformationByZIPImplService?xsd=1"/>
</xsd:schema>
</types>
<message name="GetCityForecastByZIP">
<part name="arg0" type="xsd:string"/>
</message>
<message name="GetCityForecastByZIPResponse">
<part name="return" type="tns:cityForecast"/>
</message>
<message name="GetCityWeatherByZIP">
<part name="arg0" type="xsd:string"/>
</message>
<message name="GetCityWeatherByZIPResponse">
<part name="return" type="tns:cityWeather"/>
</message>
<message name="GetWeatherInformation">
<part name="arg0" type="xsd:int"/>
</message>
<message name="GetWeatherInformationResponse">
<part name="return" type="tns:weatherInformation"/>
</message>
<message name="getWeatherDescFromJson">
<part name="arg0" type="xsd:string"/>
</message>
<message name="getWeatherDescFromJsonResponse">
<part name="return" type="xsd:int"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="SaveCityWeatherByZIPandDate">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="SaveCityWeatherByZIPandDateResponse">
<part name="return" type="tns:cityStatus"/>
</message>
<portType name="GetInformationByZIP">
<operation name="GetCityForecastByZIP">
<input wsam:Action="http://interfaces/GetInformationByZIP/GetCityForecastByZIPRequest" message="tns:GetCityForecastByZIP"/>
<output wsam:Action="http://interfaces/GetInformationByZIP/GetCityForecastByZIPResponse" message="tns:GetCityForecastByZIPResponse"/>
</operation>
<operation name="GetCityWeatherByZIP">
<input wsam:Action="http://interfaces/GetInformationByZIP/GetCityWeatherByZIPRequest" message="tns:GetCityWeatherByZIP"/>
<output wsam:Action="http://interfaces/GetInformationByZIP/GetCityWeatherByZIPResponse" message="tns:GetCityWeatherByZIPResponse"/>
</operation>
<operation name="GetWeatherInformation">
<input wsam:Action="http://interfaces/GetInformationByZIP/GetWeatherInformationRequest" message="tns:GetWeatherInformation"/>
<output wsam:Action="http://interfaces/GetInformationByZIP/GetWeatherInformationResponse" message="tns:GetWeatherInformationResponse"/>
</operation>
<operation name="getWeatherDescFromJson">
<input wsam:Action="http://interfaces/GetInformationByZIP/getWeatherDescFromJsonRequest" message="tns:getWeatherDescFromJson"/>
<output wsam:Action="http://interfaces/GetInformationByZIP/getWeatherDescFromJsonResponse" message="tns:getWeatherDescFromJsonResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://interfaces/GetInformationByZIP/getWeatherDescFromJson/Fault/Exception"/>
</operation>
<operation name="SaveCityWeatherByZIPandDate" parameterOrder="arg0 arg1">
<input wsam:Action="http://interfaces/GetInformationByZIP/SaveCityWeatherByZIPandDateRequest" message="tns:SaveCityWeatherByZIPandDate"/>
<output wsam:Action="http://interfaces/GetInformationByZIP/SaveCityWeatherByZIPandDateResponse" message="tns:SaveCityWeatherByZIPandDateResponse"/>
</operation>
</portType>
<binding name="GetInformationByZIPImplPortBinding" type="tns:GetInformationByZIP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="GetCityForecastByZIP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://interfaces/"/>
</input>
<output>
<soap:body use="literal" namespace="http://interfaces/"/>
</output>
</operation>
<operation name="GetCityWeatherByZIP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://interfaces/"/>
</input>
<output>
<soap:body use="literal" namespace="http://interfaces/"/>
</output>
</operation>
<operation name="GetWeatherInformation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://interfaces/"/>
</input>
<output>
<soap:body use="literal" namespace="http://interfaces/"/>
</output>
</operation>
<operation name="getWeatherDescFromJson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://interfaces/"/>
</input>
<output>
<soap:body use="literal" namespace="http://interfaces/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="SaveCityWeatherByZIPandDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://interfaces/"/>
</input>
<output>
<soap:body use="literal" namespace="http://interfaces/"/>
</output>
</operation>
</binding>
<service name="GetInformationByZIPImplService">
<port name="GetInformationByZIPImplPort" binding="tns:GetInformationByZIPImplPortBinding">
<soap:address location="http://localhost:8080/WebApplication6/GetInformationByZIPImplService"/>
</port>
</service>
</definitions>