clientOfServ/src/conf/xml-resources/web-service-references/GetInformationByZIPImplService/wsdl/localhost_8080/WebApplication6/GetInformationByZIPImplService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://interfaces/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://interfaces/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:complexType name="cityStatus">
<xs:sequence>
<xs:element name="responseText" type="xs:string" minOccurs="0"/>
<xs:element name="success" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cityForecast">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="tns:cityStatus" minOccurs="0"/>
<xs:element name="weatherStationCity" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cityWeather">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="dateCity" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="pressure" type="xs:string" minOccurs="0"/>
<xs:element name="relativeHumidity" type="xs:string" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="tns:cityStatus" minOccurs="0"/>
<xs:element name="temperature" type="xs:string" minOccurs="0"/>
<xs:element name="weatherID" type="xs:int"/>
<xs:element name="weatherStationCity" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionAndSpeed" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="weatherInformation">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="weatherID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>